#home{
    background-image: url('../../assets/img/bg3.jpg');
    background-size:cover ;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    section{
        background-color: rgba(0,0,0,0.7);
        height:60% ;
        width:35% ;
        margin-top: 100px;
        padding-left: $md;
        padding-right: $md; 
        border-radius: 5px;              
    }
    .cube{
        font-size: 8rem;
        color: $orange;
    }
    h1{
        text-align: center;
        color: $off-white;
        font-size: $lg;
        font-weight: 400;
        
    }
    .play-button-container{
        width: 50%;
        margin-top: 30px;
        margin-left: 100px;
    }
    a.play-button{
        background-color: $green;
        display: block;
        border-radius: $button-radius;
        color: #fff;
        cursor: pointer;
        padding: $normal;
        text-align: center;
        transition: 0.3s linear all;
        
    }
    a.play-button:hover{
        background-color: darken($green,10%);
        box-shadow: $shadow;
    }
    .auth-container{
       width: 100%;
       display: flex;
       justify-content: space-between; 
       margin-top: $lg;
    }
    #login{
        background-color: $red;
    }
    #login:hover{
        background-color: darken($red,10%);
        box-shadow: $shadow;
    }
    #signup{
        background-color:$blue;
    }
    #signup:hover{
        background-color:darken($blue,10%);
        box-shadow: $shadow;
    }
    .auth-container .auth-buttons{
        color:#fff;
        cursor: pointer;
        border-radius: $button-radius;
        padding: $normal 0;
        text-align: center;
        transition: 0.3s linear all;
        width: 45%;
    }
}
@media (max-width:$md-breakpoint){
    #home section{
        padding: 0 $normal;
        width: 100%;
        height: 100%;
    }
}
